<h1 align="center">Xóa sách</h1>
<div class="container">
  <div class="form-group">
    <th>Tên sách </th>
    <p> {{book.title}}<p>
  </div>
  <div class="form-group">
    <span>Tên tác giả</span>
    <p>{{book.author}}</p>
  </div>
  <div class="form-group">
    <span>Mô tả</span>
    <p>{{book.description}}</p>
  </div>
  <div class="form-group">
    <button  class="btn btn-outline-danger"  (click)="deleteBook(book.id)" >Xóa sách</button>
    |
    <a [routerLink]="''" class="btn btn-outline-primary">Quay lại</a>
  </div>
</div>
